<html lang="en">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="/public/compiled/styles.css" media="screen">
</head>
<body>
<form method="post" action="/login">
    <fieldset>
        <legend>Login</legend>
        <p>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username"  />
        </p>
        <p>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password"  />
        </p>
        <button type="submit" class="button--sm">Login</button>
    </fieldset>
</form>
</body>
</html>